.Rproj.user
.Rhistory
.RData
.Ruserdata
2018TakuvikLavaudSampleSetInfo.xlsx
Meta_LightStress_IceCamp_mimic.xlsx
1ProteinAsssayResults/
2SamplePrepCalcBlotPlans/
3WBimagesRawData/
4WBanalysis/
5WBreportsSummaries/
Invoices/
OldScripts/
PlateRawData/
Plots/
ProcessData/
RawData/
desktop.ini
Meta_LightStress_IceCamp_mimic.csv
SyncToy_6fbed733-839b-4f98-ae80-90b52b44ba86.dat
SyncToy_b16a59a9-0015-423b-883c-f1a7667baf31.dat
GreenEdge_TargetProteinReport_.Rds