.Rproj.user
.Rhistory
.RData
.Ruserdata
2018TakuvikLavaudSampleSetInfo.xlsx
Meta_LightStress_IceCamp_mimic.xlsx
1ProteinAsssayResults/
2SamplePrepCalcBlotPlans/
3WBimagesRawData/
4WBanalysis/
5WBreportsSummaries/
Invoices/
OldScripts/
PlateRawData/
Plots/
ProcessData/
RawData/
desktop.ini
Meta_LightStress_IceCamp_mimic.csv